* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  h3, span {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  h3 {
    position: absolute;
    bottom: 5%;
    right: 0;
    margin-bottom: 70px;
  }
  
  span {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  
  .carosello-wrapper {
    display: flex;
    align-items: center;
  }
  
  .carosello-container {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 10px;
  }
  
  .carosello {
    position: relative;
    height: 100%;
  }
  
  .carosello img {
    max-width: 400px;
    object-fit: contain;
  }
  
  .thumbnails-control {
    position: absolute;
    background-color: transparent;
    transform: translate(50%);
    border: none;
    color: gray;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 100px;
  }
  
  .thumbnails-control:hover {
    color: #fff;
  }

  .thumbnails-control, .prev{
    transform: rotate(90deg);
  }

  .thumbnails-control, .next{
    transform: rotate(-90deg);
  }
  
  .thumbnails, .prev {
    bottom: 0;
    margin-left: 40px;
  }
  
  .thumbnails, .next {
    top: 0;
    margin-left: 40px;
  }
  
  .carosello-item {
    display: none;
    position: relative;
  }
  
  .carosello-item.active {
    display: block;
  }
  
  .thumbnails {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
  }
  
  .thumbnails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thumbnails img:hover {
    border-color: white;
  }